* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgba(25, 247, 255, 1) 0%,
      rgba(176, 252, 255, 1) 100%
    );

  }

  body::-webkit-scrollbar{
      width: 0px;
      background: transparent;
  }

  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 520px;
    height: auto;
    background: #161a2b;
    text-align: center;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
    display: block;
  }

  .edit-form{
    display: none;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
    opacity: 0.45;
  }

  .todo-input.editMode::placeholder {
    color: #e2e2e2;
    opacity: 0.45;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
    transition: 0.3s ease-out;
  }



  .todo-button:hover{
      background:#fff;
      transition: 0.3s ease-out;
      color: #000;
  }
  
  /* .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  } */
  
  /* .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  } */

  .todo-wrapper{
      display: flex;
      flex-direction: column-reverse;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(66, 101, 255, 1) 0%,
      rgba(107, 134, 255, 1) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    cursor: pointer;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(56, 255, 20, 1) 0%,
      rgba(102, 255, 74, 1) 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(168, 160, 10, 1) 0%,
      rgba(252, 242, 48, 1) 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(230, 23, 61, 1) 0%,
      rgba(
        250, 80, 111
        , 1) 100%
    );
  }

  .todo-row:nth-child(4n + 4) {
    background: linear-gradient(
      90deg,
      rgba(146, 20, 204, 1) 0%,
      rgba(
        208, 107, 255
        , 1) 100%
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }

  .done-icon, .edit-icon{
      color: #fff;
      margin-right: 0.5rem;
      transition: 0.3s all ease-in-out;
      cursor: pointer;
  }
  
  .delete-icon {
    color: #fff;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
  }

  .done-icon:hover, .delete-icon:hover, .edit-icon:hover{
      color: #4f3100;
      transition: 0.3s all ease-in-out;
  }

  @media screen and (max-width:536px){
    .todo-app {
      max-width: 430px;
      padding-left:20px;
      padding-right: 20px;
    }

    .todo-button{
      margin-top: 16px;
      margin-bottom: -16px;
    }
  }